<mjml>
    <mj-body background-color="#2d3748">
        <mj-section padding-top="50px">
            <mj-column background-color="#1a202c" border-radius="5px" >
                <mj-text color="white" font-size="30px" padding="15px" align="center">Salut {{ user.firstname }}, bienvenue sur le Labo 02</mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-text font-size="20px" align="center" color="white" font-family="helvetica">
                    Ceci est une email automatique envoyé par l'event dispatcher, après la sauvegarde de votre comte.
                </mj-text>

                <mj-text font-size="20px" align="center" color="white" font-family="helvetica">
                    Vous pouver retrouver le code source du labo 02 sur <a href="https://github.com/robinmoquet/labo_02">GITHUB</a>
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>