{% extends "base.html.twig" %}

{% block body %}
    <header class="mt-16">
        <h1 class="font-black text-3xl md:text-5xl text-center tracking-wider">Hello, Design Pattern !</h1>
    </header>

{% endblock %}


